.mainbox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 322px !important;
    height: 198px;
    background-color: #cbcbcb;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    margin: 25% 25%; 
}

